
<div class="dice">
  <div class="dot" ngClass="{{isDotShow(1)}}"></div>
  <div class="dot" ngClass="{{isDotShow(2)}}"></div>
  <div class="dot" ngClass="{{isDotShow(3)}}"></div>
  <div class="dot" ngClass="{{isDotShow(4)}}"></div>
  <div class="dot" ngClass="{{isDotShow(5)}}"></div>
  <div class="dot" ngClass="{{isDotShow(6)}}"></div>
  <div class="dot" ngClass="{{isDotShow(7)}}"></div>
  <div class="dot" ngClass="{{isDotShow(8)}}"></div>
  <div class="dot" ngClass="{{isDotShow(9)}}"></div>
</div>

